<div ngClass="upload-container" 
    (dragover)="onDragOver($event)" 
    (dragleave)="onDragLeave($event)" 
    (drop)="onDrop($event)" 
    (click)="fileInput.click()" 
    [ngClass]="{'drag-over' : isDragOver}">
    <input type="file"
        #fileInput
        (change)="onFileSelected($event)"
        style="display: none"
        multiple
    />
    <div class="upload-icon">
        <i class="fa fa-cloud-upload"></i>
        <p>Drag and drop your files here or click to select files</p>
    </div>
    <button (click)="uploadFile()">Upload File</button>
</div>
